.game{
    position: relative;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(4,var(--size));
    grid-template-rows: repeat(4,var(--size));
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 10px solid #55ab9f;
  }
  .boardTrans{
    display: grid;
    grid-template-columns: repeat(1,var(--sizeStart));
    grid-template-rows: repeat(1,var(--sizeStart));
    border-radius: 10px;
    overflow: hidden;
    border: 10px solid #55ab9f;
    background:var(--tile);
  }

  #modal-root {
    position: relative;
    z-index: 999;
  }
  .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 99999;
  }